@page
@model ProjektSki.Pages.Admin.AdminPageModel
@{
    ViewData["Title"] = "Panel administratora";
}
<h1> Panel administratora </h1> <br/>
<h2>Wybierz opcje:</h2><br/>
<h4>
    <a style="padding-left:40px" asp-page="./AccessLogs">Logi</a> <br/><br />
    <a style="padding-left:40px" asp-page="./CreateUser">Dodawanie użytkownika</a> 
</h4>
